@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  /* cyan */
  --color-primary-1: hsl(158deg 36% 37%);
  /* cream */
  --color-primary-2: hsl(30deg 38% 92%);

  /* very dark blue */
  --color-neutral-1: hsl(212deg 21% 14%);
  /* dark grayish blue */
  --color-neutral-2: hsl(228deg 12% 48%);
  /* white */
  --color-neutral-3: hsl(0deg 0% 100%);

  --font-1: "Montserrat", "sans-serif";
  --font-1-weight1: 500;
  --font-1-weight2: 700;
  --font-2: "Fraunces", "sans-serif";
  --font-2-weight1: 700;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: 50%;

  font-family: var(--font-1);
  color: var(--color-primary-1);
  font-weight: var(--font-1-weight2);

  display: grid;
  place-content: center;

  background-color: var(--color-primary-2);
}

main {
  width: max(70vh, 400px);
  height: max(30vw, 500px);
  display: grid;
  grid-template-columns: 50% 50%;

  border-radius: 12px;

  background-color: var(--color-neutral-3);
  font-size: 0.7rem;
}

.product-image {
  img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  max-width: max-content;

  h3 {
    color: var(--color-neutral-2);
    font-weight: var(--font-1-weight1);
    font-size: 0.7rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  h1 {
    color: var(--color-neutral-1);
    font-size: 2rem;
    font-family: var(--font-2);
    font-weight: var(--font-2-weight1);
    height: max-content;
  }

  p {
    font-size: 0.5rem;
    color: var(--color-neutral-2);
  }

  .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 50%;
    font-family: var(--font-2);
    font-weight: var(--font-2-weight2);

    div:nth-of-type(1) {
      font-size: 2.5rem;
    }
    div:nth-of-type(2) {
      vertical-align: middle;
      text-align: center;

      font-size: 0.8rem;
      opacity: 0.8;
      color: var(--color-neutral-2);
      text-decoration: line-through;
    }
  }

  button {
    border-radius: 12px;
    color: var(--color-primary-2);
    position: relative;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;

    &::before {
      border-radius: inherit;
      position: absolute;
      inset: 0;
      content: "";
      z-index: -1;
      background-color: var(--color-primary-1);
    }

    &:hover {
      &::before {
        filter: brightness(60%);
      }
    }
  }
}

@media screen and (width < 400px) {
  main {
    flex-direction: column;
  }
}
