@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  /* cyan */
  --color-primary-1: hsl(158deg 36% 37%);
  /* cream */
  --color-primary-2: hsl(30deg 38% 92%);

  /* very dark blue */
  --color-neutral-1: hsl(212deg 21% 14%);
  /* dark grayish blue */
  --color-neutral-2: hsl(228deg 12% 48%);
  /* white */
  --color-neutral-3: hsl(0deg 0% 100%);

  --font-1: "Montserrat", "sans-serif";
  --font-1-weight1: 500;
  --font-1-weight2: 700;
  --font-2: "Fraunces", "sans-serif";
  --font-2-weight1: 700;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;

  font-family: var(--font-1);
  color: var(--color-primary-1);
  font-weight: var(--font-1-weight2);

  display: grid;
  place-content: center;

  background-color: var(--color-primary-2);
}

main {
  height: clamp(630px, 70vh, 700px);
  width: min(70vw, 650px);

  display: grid;
  grid-template-columns: 50% 50%;

  border-radius: 12px;
  overflow: hidden;

  background-color: var(--color-neutral-3);
  font-size: 0.7rem;
}

.product-image {
  width: 100%;
  height: auto;

  img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  max-width: max-content;

  h3 {
    color: var(--color-neutral-2);
    font-weight: var(--font-1-weight1);
    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  h1 {
    color: var(--color-neutral-1);
    font-size: 2rem;
    font-family: var(--font-2);
    font-weight: var(--font-2-weight1);
    height: max-content;
    line-height: 1.8rem;
  }

  p {
    font-family: var(--font-1);
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: var(--font-1-weight1);
    color: var(--color-neutral-1);
    opacity: 0.8;
  }
}

.prices {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 50%;
  font-family: var(--font-2);
  font-weight: var(--font-2-weight2);

  div:nth-of-type(1) {
    font-size: 2rem;
  }
  div:nth-of-type(2) {
    vertical-align: middle;
    text-align: center;

    font-size: 1rem;
    font-weight: 500;
    color: var(--color-neutral-2);
    opacity: 0.75;
    text-decoration: line-through;
  }
}

.order-button {
  display: grid;
  place-content: center;
  font-family: var(--font-1);
  font-weight: var(--font-1-weight2);

  align-self: center;
  border-radius: 12px;
  color: var(--color-neutral-3);
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 40px;
  padding-block: 0.5rem;
  border-radius: 6px;

  /* Create a new stacking-context separate, see z-index below */
  isolation: isolate;

  img {
    display: inline;
    padding-inline-end: 0.4rem;
    transform: scale(85%);
  }
}

.order-button::before {
  /* Put this element behind it's creator to serve as a darkenable (definitely a word) background */
  z-index: -1;
  border-radius: inherit;
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--color-primary-1);
}

.order-button:hover {
  .order-button::before {
    filter: brightness(60%);
  }
}

@media screen and (width <= 800px) {
  main {
    grid-template-columns: unset;
    grid-template-rows: 50% 50%;
  }

  .product-description p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .prices {
    div:nth-of-type(1) {
      font-size: 1rem;
    }
    div:nth-of-type(2) {
      font-size: 0.7rem;
    }
  }
}

@media screen and (height <= 700px) {
  .product-description {
    h1 {
      font-size: 1.2rem;
    }
  }
}

@media screen and (width >= 800px) {
  .product-description h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
